# Compilación de Java en NetBeans
build/
dist/
bin/
*.class

# Archivos de la base de datos local H2
db/foodstore.mv.db
db/foodstore.trace.db

# Archivos privados de configuración de NetBeans
nbproject/private/
.DS_Store
